<!-- wp:query {"queryId":9,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","displayLayout":{"type":"list"},"layout":{"type":"default"}} -->
<main class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"minHeight":600,"contentPosition":"bottom center","isDark":false,"align":"center","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
<div class="wp-block-cover aligncenter is-light has-custom-content-position is-position-bottom-center" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:600px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","textColor":"vivid-red"} /-->

<!-- wp:group {"textColor":"vivid-red","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-group has-vivid-red-color has-text-color"><!-- wp:post-terms {"term":"field","textColor":"vivid-red"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:kadence/advancedheading {"uniqueID":"_fe27a9-15","align":"center","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"maxWidth":[1254,"",""]} -->
<h2 class="kt-adv-heading_fe27a9-15 wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading_fe27a9-15"><span data-field="post|post_custom_field" data-para="acf_meta|description" data-showall="true" class="kb-inline-dynamic">No Content</span></h2>
<!-- /wp:kadence/advancedheading -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->